body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1e4d7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5C2342;
    color: white;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}
header {
    position: sticky;
    border-radius: 10px;
    background-color: #5D2E46;
    height: 60px !important;
    width: 80%;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #E8D6CB;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-10%);
}

.nav-links{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.nav-links a{
    text-decoration: none !important;
    color: #E8D6CB !important;
    padding: 10px;
    border-radius: 8px;
}

.nav-links a:hover{
    background-color: #541E3A;
}

.nav-links a:active{
    background-color: #541E3A;
}

.nav-links a:focus{
    background-color:#541E3A;
}

.brandname{
    display: none;
    position: absolute;
    font-family: 'Kanit';
    font-size: 20px;
}
  
.logo {
    height: 55px;
    border-radius: 50%;
}
  

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #E8D6CB;
}

.search-bar input::placeholder{
    color: #5D2E46;
}

.search-bar button {
    background-color: #7E4261;
    border: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 25px;
    color: #E8D6CB;
    cursor: pointer;
}

.search-bar button img {
    height: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    background-color: #E8D6CB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile img {
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

main {
    padding: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #F4E3D2;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product-item p {
    margin: 10px 0;
    font-size: 16px;
    color: #7E4261;
}

.product-item button {
    background-color: #7E4261;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.product-item button:hover {
    background-color: #5C2342;
}
