body {
    display: grid;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container h2 {
    color: #5D2E46;
}

.slider {
    height: 300px;
    width: 90%;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 60s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.slide img:hover {
    transform:  translateZ(20px);
}


.slide::before, 
.slide::after {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%);
        content: '';
        height: 100%;
        position: absolute;
        width: 15%;
        z-index: 2;
}

.slide::before {
    left: 0;
    top: 0;
}

.slide::after {
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}

.heritageconnect-sri-lanka{
    position: relative !important;
    bottom: 0;
}