@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

.container {
    position: relative;
    justify-content: center;
    font-size: var(--font-size-xl);
    color: var(--color-gray-100);
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    max-width: 1050px;
    width: 100%;
    background-color: white;
    min-height: 60vh;
    display: flex;
}

.left-side {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.role-selection {
    display: flex;
    justify-content:center;
}

.role-button {
    background-color: #A47D95;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.role-button.active {
    background-color: #5C3D54;
}

.logo {
    font-family:'Kanit', sans-serif;
    color: #5D2E46;
    font-size: 30px;
    margin:0px 0;
    text-align: right;
    line-height: 1;
}

.sub-heading {
    text-align: right;
    font-family:'Kanit', sans-serif;
    color:#AD6A6C;
    margin: 0px 0;
    font-size: 26px;
    line-height: 2;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
/* Form Group */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    position: absolute;
    top: -20px; 
    left: 10px; 
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #5C3D54;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 12px;
    background-color: #D7C1B9;
    box-sizing: border-box;
}
.tab {
    display: none;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #5C3D54;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

button#prevBtn {
    background-color: #A47D95;
}

button#nextBtn {
    background-color: #5C3D54;
}

.btn {
    background-color: #5C3D54;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.dot {
    height: 7px;
    width: 7px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #5C3D54;
}

.social-login {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-btn {
    border: none;
    background: none;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.social-btn img {
    width: 30px;
    height: 30px;
}

.right-side {
    width: 50%;
    position: relative;
}
.hero-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.seller-tab {
    background-color: #EFE7DC; 
    border: 1px solid #D3B8AE;
}

.seller-tab input {
    background-color: #F2E8E0; 
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 12px 15px;
}

input[type="text"]#business-name, input[type="text"]#address {
    width: 100%;
}

.business-name {
    display: none;
}
.login-btn {
    margin-left: 40px;
    padding: 10px 20px;
    background-color: #5C3D54; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.login-btn:hover {
    background-color: #3a2b37;
}
.login-para{
    font-size: 14px;
}
.user-only {
    display: none;
}
